@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-attachment: fixed;
    user-select: none;
}
body{
    font-family: montserrat;
    overflow-x: hidden;
    background-color: #eee;
    height: 400vh;
}
body.active {
    overflow:hidden;
}
nav{
    height: 80px;
    width: 100%;
    position:fixed;
    top: 0;
    transition: 0.2s linear all;
    z-index: 999999999;
}
nav .logo{
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50px;
    color: white;
    font-size: 30px;
    font-family: 'Mulish', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;

}
nav .logo span{
    z-index: 1;
}
nav .logo img{
    width: 70px;
    transform: rotate(-50deg);
    margin-right: -46px;
    z-index: -3;
    position: relative;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}
nav ul li::before{
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: #eee;
    bottom: 0;
    transition: 0.3s ease-in-out;
}
nav ul li:hover:before{
    width: 100%;
    box-shadow: 0 0px 9px #fff;
}
nav ul li:hover{
    background: rgba(0, 0, 0, 0.4);
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    user-select: none;
    cursor: pointer;
    font-family: 'Cairo', sans-serif;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
nav .menu {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.menu span {
    margin-top: 7px;
    width: 80%;
    height: 4px;
    background-color: white;
    border-radius: 15px;
    transition: 0.5s ease-in-out;
}
.menu span:nth-child(2) {
    width: 30px;
}
.menu span:nth-child(3) {
    width: 15px;
}

.menu span:nth-child(1).active {
    transform: translateY(11px) rotate(225deg);
}
.menu span:nth-child(2).active {
    width: 80%;
    opacity: 0;
    transform: translateX(-50px);
}
.menu span:nth-child(3).active {
    width: 80%;
    transform: translateY(-11px) rotate(-225deg);
}
.sec1 {
    background-color:#444852;
    background-size:cover;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sec1 .wave {
    position: absolute;
    bottom: 0;
}
.sec1 .per-info {
    color: #fff;
    font-family: 'El Messiri', sans-serif;
    direction:rtl;
    margin-right: 50px;
    font-size: 19px;
}
.sec1 .img-sec1{
    margin-left: 50px;
}
.sec1 .img-sec1 img{
    width: 400px;
}
.sec1 .scroll {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}
.sec2 {
    height:calc( 100vh + 80px);
}
.sec2 .sec2-title {
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    font-size: 30px;
    font-family: 'Cairo', sans-serif;
    font-weight: 900;
    margin-top: 80px;
    color: #333333;
}
.sec2 .sec2-title::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 5px;
    background-color: #c6c6c6;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
}
.sec2 .sec2-title::after {
    content: "";
    position: absolute;
    width: 130px;
    height: 5px;
    background-color: #bfbebe;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
}