@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500&display=swap');
/* font-family: 'Cairo', sans-serif; */
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-attachment: fixed;
    user-select: none;
}
.sec2,.sec3,.sec4 {
    position: relative;
}
.sec2::before,.sec3::before,.sec4::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #262626;
    bottom: 0;
}
body{
    font-family: montserrat;
    /* overflow-x: hidden; */
    background-color: #eee;
    height: 400vh;
}
body.active {
    overflow:hidden;
}
nav{
    height: 80px;
    width: 100%;
    position:fixed;
    top: 0;
    transition: 0.2s linear all;
    z-index: 999999999;
}
nav .line-basic {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 7px;
    background-color: #555;
    transition: 0.2s linear;
}
nav .logo{
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50px;
    color: white;
    font-size: 30px;
    font-family: 'Mulish', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;

}
nav .logo span{
    z-index: 1;
}
nav .logo img{
    width: 70px;
    transform: rotate(-50deg);
    margin-right: -46px;
    z-index: -1;
    position: relative;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}
nav ul li::before{
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: #eee;
    bottom: 0;
    transition: 0.3s ease-in-out;
}
nav ul li:hover:before{
    width: 100%;
    box-shadow: 0 0px 9px #fff;
}
nav ul li:hover{
    background: rgba(0, 0, 0, 0.4);
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    user-select: none;
    cursor: pointer;
    font-family: 'Cairo', sans-serif;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
nav .menu {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.menu span {
    margin-top: 7px;
    width: 80%;
    height: 4px;
    background-color: white;
    border-radius: 15px;
    transition: 0.5s ease-in-out;
}
.menu span:nth-child(2) {
    width: 30px;
}
.menu span:nth-child(3) {
    width: 15px;
}
.menu span:nth-child(1).active {
    transform: translateY(11px) rotate(225deg);
}
.menu span:nth-child(2).active {
    width: 80%;
    opacity: 0;
    transform: translateX(-50px);
}
.menu span:nth-child(3).active {
    width: 80%;
    transform: translateY(-11px) rotate(-225deg);
}
.sec1 {
    background-color:#444852;
    height: calc(100vh - 80px);
    margin-top: 80px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sec1 .wave {
    position: absolute;
    bottom: 0;
}
.sec1 .per-info {
    color: #fff;
    font-family: 'El Messiri', sans-serif;
    direction:rtl;
    margin:0 50px 30px 0 ;
    font-size: 19px;
    position: relative;
}
.sec1 .per-info a{
    margin-bottom: 10px;
}
.sec1 .per-info h1{
    margin-bottom: 10px;
}
.per-info .next-sec {
    z-index: 9999;
    width: 200px;
    height: 50px;
    padding: 5px;
    font-size: 18px;
    background-color: #383838;
    border: 2px solid #333;
    font-family: 'Cairo', sans-serif;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.next-sec p {
    text-align: center;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
    color: white;
}
.per-info .next-sec::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    right: auto;
    bottom: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #26262600;
    transition: 0.6s ease-in-out;
    border-radius: 50%;
}
.per-info .next-sec:hover:before {
    border-radius: 10px;
    width: 300px;
    height: 60px;
    background-color: #262626;
}
.per-info .next-sec:hover {
    box-shadow: 0 0 29px #5e5e5e;
}
.sec1 .img-sec1{
    margin-left: 50px;
}
.sec1 .img-sec1 img{
    width: 400px;
}
.sec1 .scroll {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.sec2 {
    min-height:calc( 100vh + 80px);
    position: relative;
    padding-bottom: 30px;
}
.father-sec2-title {
    width: 100%;
    padding: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec2-title {
    font-size: 30px;
    font-family: 'Cairo', sans-serif;
    font-weight: 900;
    margin:80px 0 0 0;
    color: #333333;
    position: relative;
}
.sec2-title::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 5px;
    background-color: #c6c6c6;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
}
.sec2-title::after {
    content: "";
    position: absolute;
    width: 130px;
    height: 5px;
    background-color: #bfbebe;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
}
.sec2 .father-maps {
    width: 100%;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-gap: 30px;
    place-items: center;
}
.father-maps .map {
    padding: 10px;
    background-color: #ccc;
}
.map .head{
    display: flex;
    width: 100%;
    height: 30px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    font-family: 'Cairo', sans-serif;
    font-weight: 900;
}
.head .dot{
    font-size: 20px;
}
.up {
    position: fixed;
    bottom: 10px;
    right: -50px;
    background-color: #333333;
    color: white;
    font-weight: bold;
    font-size: 30px;
    font-family: Arial, Tahoma;
    cursor: pointer;
    transition: 0.2s;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.up img {
    width: 50px;
}
.up.show {
    right: 10px;
}
.sec3 {
    height: 100vh;
}
.sec4 {
    min-height: calc(100vh - 80px);
    padding: 40px 0 ;
}
.sec4 .boxs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
    place-items: center;
    padding: 0 20px;
}
.sec4 .boxs * {
    width: 250px;
    height: 70px;
    background-color: #cfcfcf;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    color: #333;
    font-family: 'Cairo', sans-serif;
    transition: 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
}
.sec4 .boxs * p{
    z-index: 2;
}
.sec4 .boxs *::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    background-color: rgb(185, 185, 185);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -1;
    transition: 0.4s ease-in-out;
}
.sec4 .boxs *:hover:before {
    width: 300px;
    height: 300px;
}
.father-sec4-title {
    width: 100%;
    padding: 0 100px 140px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec4-title {
    font-size: 30px;
    font-family: 'Cairo', sans-serif;
    font-weight: 900;
    margin:80px 0 0 0;
    color: #333333;
    position: relative;
}
.sec4-title::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 5px;
    background-color: #c6c6c6;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
}
.sec4-title::after {
    content: "";
    position: absolute;
    width: 130px;
    height: 5px;
    background-color: #bfbebe;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
}